backend.json
[{"id":"c70737f6.8ece1","type":"http in","z":"6327ed60.216d6c","name":"","url":"/sensor","method":"get","swaggerDoc":"","x":126.36666870117188,"y":83.63542175292969,"wires":[["60d83525.e7f414"]]},{"id":"d5473683.e67fe8","type":"debug","z":"6327ed60.216d6c","name":"","active":false,"console":"false","complete":"payload","x":637.3735961914062,"y":224.36111450195312,"wires":[]},{"id":"9450f5e.ada6e88","type":"http response","z":"6327ed60.216d6c","name":"","x":658.3701171875,"y":154,"wires":[]},{"id":"fb1a3771.560b5","type":"cloudant in","z":"6327ed60.216d6c","name":"","cloudant":"18450496.50e9a3","database":"campus","service":"stefany-nodered-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":502.2333679199219,"y":97.69999694824219,"wires":[["d5473683.e67fe8","9450f5e.ada6e88"]]},{"id":"60d83525.e7f414","type":"change","z":"6327ed60.216d6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":304.23333740234375,"y":138.83334350585938,"wires":[["fb1a3771.560b5"]]},{"id":"18450496.50e9a3","type":"cloudant","z":"","host":"673b59eb-0f4a-4314-9aa4-9e53824935ed-bluemix.cloudant.com","name":""}]