dbSetting.json
[{"id":"9ff90e4c.0f72d","type":"ibmiot in","z":"a5780d3d.d20928","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"zentri_5A5A","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":81.73333740234375,"y":88.01666259765625,"wires":[["5c421c1f.9c1b54"]]},{"id":"9ee6cf18.25321","type":"debug","z":"a5780d3d.d20928","name":"","active":false,"console":"false","complete":"true","x":762.4500732421875,"y":88.65000915527344,"wires":[]},{"id":"2153087b.99a928","type":"cloudant in","z":"a5780d3d.d20928","name":"","cloudant":"","database":"campus","service":"stefany-nodered-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":350.4499816894531,"y":276.73333740234375,"wires":[["f797bf35.05c4c"]]},{"id":"f797bf35.05c4c","type":"function","z":"a5780d3d.d20928","name":"","func":"msg.payload={\n    _id: msg.payload._id,\n    _rev: msg.payload._rev,\n    luz : context.flow.luz,\n    wifi: context.flow.wifi,\n    mag:context.flow.mag\n};\nreturn msg;","outputs":1,"noerr":0,"x":510.4499816894531,"y":207.53335571289062,"wires":[["9ee6cf18.25321","ba115493.ea2308"]]},{"id":"9c10e282.80edd","type":"inject","z":"a5780d3d.d20928","name":"","topic":"","payload":"4a85aad223f86d168d90fb3074d4d5de","payloadType":"str","repeat":"1","crontab":"","once":true,"x":101.44999694824219,"y":242.01666259765625,"wires":[["2153087b.99a928"]]},{"id":"ba115493.ea2308","type":"cloudant out","z":"a5780d3d.d20928","name":"","cloudant":"","database":"campus","service":"stefany-nodered-cloudantNoSQLDB","payonly":true,"operation":"insert","x":789.4499816894531,"y":231.56668090820312,"wires":[]},{"id":"5c421c1f.9c1b54","type":"function","z":"a5780d3d.d20928","name":"","func":"context.flow.luz = msg.payload.d.Light_Sense;\ncontext.flow.mag = msg.payload.d.MZ;\ncontext.flow.wifi = msg.payload.d.RSSI;\nreturn null;","outputs":1,"noerr":0,"x":245.44998168945312,"y":144.4499969482422,"wires":[["f797bf35.05c4c"]]}]