local.json
[{"id":"7ef89b19.ebeb6c","type":"tab","label":"Microphone"},{"id":"e21fe538.dbcc88","type":"microphone","z":"7ef89b19.ebeb6c","name":"","x":325.3666687011719,"y":180.75,"wires":[["c453f53.87ca708"]]},{"id":"c453f53.87ca708","type":"watson-speech-to-text","z":"7ef89b19.ebeb6c","name":"","continuous":true,"lang":"pt-BR","langhidden":"pt-BR","band":"BroadbandModel","bandhidden":"","password":"bHK6wiqG4nH8","x":347.3666534423828,"y":275.51666259765625,"wires":[["8cd20d06.5c4608"]]},{"id":"8cd20d06.5c4608","type":"change","z":"7ef89b19.ebeb6c","name":"Captura a Transcrição","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":592.3666687011719,"y":292.816650390625,"wires":[["21bb8641.a3aa6a","67e20910.9f9be8"]]},{"id":"f21a0af8.ac97f8","type":"function","z":"7ef89b19.ebeb6c","name":"Recebe resposta do conversation","func":"context.global.sensor = context.global.sensor || 0;\n\ncontext.global.sensor  = msg.payload;\n\n//msg.payload = msg.payload.output.text[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":572.3666687011719,"y":350.91668701171875,"wires":[["708798e7.76975","1ade060d.656e1a"]]},{"id":"d6ba6973.fbd4a8","type":"watson-text-to-speech","z":"7ef89b19.ebeb6c","name":"","lang":"pt-BR","langhidden":"pt-BR","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"iGoDcgltuLQc","x":931.3666381835938,"y":508.1833190917969,"wires":[["d573489f.8f906","e4f1e476.215a6"]]},{"id":"67e20910.9f9be8","type":"debug","z":"7ef89b19.ebeb6c","name":"","active":true,"console":"false","complete":"false","x":617.0332946777344,"y":219.04998779296875,"wires":[]},{"id":"d573489f.8f906","type":"change","z":"7ef89b19.ebeb6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":941.9332580566406,"y":563.1500244140625,"wires":[["6f0ea159.acc14"]]},{"id":"e4f1e476.215a6","type":"debug","z":"7ef89b19.ebeb6c","name":"","active":false,"console":"false","complete":"false","x":1190.933349609375,"y":571.433349609375,"wires":[]},{"id":"c15c8de1.2881c8","type":"inject","z":"7ef89b19.ebeb6c","name":"Magnetismo","topic":"","payload":"tem imã ai?","payloadType":"str","repeat":"","crontab":"","once":false,"x":444.8666687011719,"y":88,"wires":[["21bb8641.a3aa6a"]]},{"id":"21bb8641.a3aa6a","type":"watson-conversation-v1","z":"7ef89b19.ebeb6c","name":"","workspaceid":"71cba065-76ce-4f41-90b1-27c4962c39f0","multiuser":false,"context":true,"x":315.8666687011719,"y":380.75,"wires":[["f21a0af8.ac97f8","c83e4eec.92a5c8"]]},{"id":"6f0ea159.acc14","type":"play audio","z":"7ef89b19.ebeb6c","name":"","voice":"","x":1078.8667602539062,"y":614.25,"wires":[]},{"id":"708798e7.76975","type":"http request","z":"7ef89b19.ebeb6c","name":"","method":"GET","ret":"txt","url":"http://stefany-nodered.mybluemix.net/sensor?id=4a85aad223f86d168d90fb3074d4d5de","tls":"","x":818.8166809082031,"y":349.20001220703125,"wires":[["ec20307f.bc7698"]]},{"id":"b624c534.3abaf8","type":"function","z":"7ef89b19.ebeb6c","name":"","func":"\nif(context.global.sensor.output.text == \"CampoMag\")\n{\n    msg.payload= \"O nível de campo magnético é \" + msg.payload[0].mag + \" G\";\n}\nelse if (context.global.sensor.output.text == \"NivelWifi\")\n{\n    msg.payload= \"O nível de conexão sem fio está em menos\" + msg.payload[0].wifi +\" db\";\n}\nelse if (context.global.sensor.output.text == \"Lumin\")\n{\n    msg.payload = \"O nível de luminosidade está em \" + msg.payload[0].luz+ \" Lux\";\n}\nelse\n{\n    msg.payload = \"Não encontrei o que você perguntou!\" +context.global.sensor.output.text;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":949.7667846679688,"y":450.6499938964844,"wires":[["d6ba6973.fbd4a8","4f9c0047.ec088"]]},{"id":"c83e4eec.92a5c8","type":"debug","z":"7ef89b19.ebeb6c","name":"","active":false,"console":"false","complete":"false","x":490.7666778564453,"y":417.8333282470703,"wires":[]},{"id":"4f9c0047.ec088","type":"debug","z":"7ef89b19.ebeb6c","name":"","active":true,"console":"false","complete":"payload","x":1198.3667602539062,"y":535.36669921875,"wires":[]},{"id":"b8cad16e.c8dcc","type":"debug","z":"7ef89b19.ebeb6c","name":"","active":false,"console":"true","complete":"payload","x":1038.2333984375,"y":202.9666748046875,"wires":[]},{"id":"1ade060d.656e1a","type":"change","z":"7ef89b19.ebeb6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sensor","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":854.2333984375,"y":244.89999389648438,"wires":[["b8cad16e.c8dcc"]]},{"id":"ec20307f.bc7698","type":"function","z":"7ef89b19.ebeb6c","name":"","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":949.2333984375,"y":405.76666259765625,"wires":[["fca5cf68.21cbd","b624c534.3abaf8"]]},{"id":"fca5cf68.21cbd","type":"debug","z":"7ef89b19.ebeb6c","name":"","active":true,"console":"true","complete":"true","x":1156.3001098632812,"y":300.433349609375,"wires":[]},{"id":"d082813a.d3248","type":"inject","z":"7ef89b19.ebeb6c","name":"Wifi","topic":"","payload":"Qual o nível de conexão?","payloadType":"str","repeat":"","crontab":"","once":false,"x":630.6333618164062,"y":81.5,"wires":[["21bb8641.a3aa6a"]]},{"id":"77d87fad.890f48","type":"inject","z":"7ef89b19.ebeb6c","name":"Luz","topic":"","payload":"Como está a luminosidade?","payloadType":"str","repeat":"","crontab":"","once":false,"x":822.6333618164062,"y":92.5,"wires":[["21bb8641.a3aa6a"]]},{"id":"2c943da8.6351a2","type":"inject","z":"7ef89b19.ebeb6c","name":"Saudação","topic":"","payload":"Oi","payloadType":"str","repeat":"","crontab":"","once":false,"x":99.9666748046875,"y":60.96666717529297,"wires":[["67b57545.927ee4"]]},{"id":"67b57545.927ee4","type":"watson-conversation-v1","z":"7ef89b19.ebeb6c","name":"","workspaceid":"71cba065-76ce-4f41-90b1-27c4962c39f0","multiuser":false,"context":true,"x":140.23333740234375,"y":535.433349609375,"wires":[["a9a248f7.01aef8"]]},{"id":"a9a248f7.01aef8","type":"function","z":"7ef89b19.ebeb6c","name":"Recebe resposta do conversation","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":286.36669921875,"y":602.1666870117188,"wires":[["f269f55f.b37318"]]},{"id":"f269f55f.b37318","type":"watson-text-to-speech","z":"7ef89b19.ebeb6c","name":"","lang":"pt-BR","langhidden":"pt-BR","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"iGoDcgltuLQc","x":395.36669921875,"y":662.1666870117188,"wires":[["a51be77e.f46638","3fc54c7.0ab0b34"]]},{"id":"a51be77e.f46638","type":"change","z":"7ef89b19.ebeb6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":579.933349609375,"y":670.13330078125,"wires":[["9cbd8d1c.b31108"]]},{"id":"3fc54c7.0ab0b34","type":"debug","z":"7ef89b19.ebeb6c","name":"","active":true,"console":"false","complete":"false","x":647.933349609375,"y":771.4166870117188,"wires":[]},{"id":"9cbd8d1c.b31108","type":"play audio","z":"7ef89b19.ebeb6c","name":"","voice":"","x":640.86669921875,"y":732.2333374023438,"wires":[]},{"id":"fc261c92.73782","type":"inject","z":"7ef89b19.ebeb6c","name":"Despedida","topic":"","payload":"Xau ","payloadType":"str","repeat":"","crontab":"","once":false,"x":95.36666870117188,"y":117.23332977294922,"wires":[["67b57545.927ee4"]]}]